<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Usaremos la cámara para publicar el tweet</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Usaremos el micrófono para grabar el vídeo del tweet</string>
    
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Usaremos tu ubicación para publicar el Tweet! :)</string>
    
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Usaremos tu ubicación para publicar el Tweet! :)</string>
</dict>
</plist>
